<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704096194778-tg9jv1fs3jhkrpkf6mo7p0rvcol9s4l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704096194778-tg9jv1fs3jhkrpkf6mo7p0rvcol9s4l6</string>
	<key>API_KEY</key>
	<string>AIzaSyBxzMQ0J5crFxnLUxHxxnKfkQGkOLmSklc</string>
	<key>GCM_SENDER_ID</key>
	<string>704096194778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Altynbek-Dimoon.test.twitterClone2</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-c2ee9</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-c2ee9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704096194778:ios:af662cd06f0dd5f99f15e3</string>
</dict>
</plist>